body {
    background: rgb(223, 223, 223);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;

    &__jauge {
        height: 500px;
        width: 30px;
        background: linear-gradient(rgb(219, 0, 0), rgb(255, 255, 0), rgb(0, 196, 0));
        border-radius: 30px;
        margin-bottom: 50px;
        position: relative;

        &--ball {
            height: 30px;
            width: 30px;
            background-color: rgb(170, 0, 0);
            border-radius: 50px;
            position: absolute;
            bottom: 0;
            transition: all 1.5s cubic-bezier(.77, .16, .71, 1.11);
        }
    }

    &__btn {
        background-color: rgb(4, 4, 61);
        color: white;
        padding: 15px 20px;
        border-radius: 25px;
        cursor: pointer;
        user-select: none;
        position: absolute;
        bottom: -150px;
        width: 152px;
        text-align: center;
        left: -80px;
        transition: all ease-in 0.4s;

        &:hover {
            color: rgb(4, 4, 61);
            background-color: white;
            font-weight: bold;
            font-size: 1.3rem;
            transform: scale(1.1);
        }

        &:active+.container__jauge--ball {
            bottom: 470px;
            transition: all 6s cubic-bezier(.26, .61, .19, 1);
        }
    }
}